<section class="todoapp" id='firstTodo'>
  <header class="header">
    <h1>todos</h1>
    <input
      class="new-todo"
      placeholder="What needs to be done?"
      autofocus
      [(ngModel)]="mainInputValue"
      (change)="addTodoItem(mainInputValue)"
      FOCUS
    />
  </header>
  <section class="main">
    <input 
      [(ngModel)]="toggleAllInput"
      (click)="switchStatusForAll()"
      id="toggle-all" 
      class="toggle-all" 
      type="checkbox" 
    />
    <label
      *ngIf="todoList.length"
      for="toggle-all"
     >
      Mark all as complete
    </label>
    <ul class="todo-list">
      <todo-item
        *ngFor="let todo of displayedTodoList; let index = index; trackBy: trackTodoItem"
        [todo]="todo"
        [index]="index"

        (removeTodoItem)="removeTodoItem(index)"
        (editTodoItem)="editTodoItemByIndex($event)"
      ></todo-item>
    </ul>
  </section>
  <footer
    *ngIf="todoList.length" 
    class="footer"
  >
  <span class="todo-count">
    <strong>{{ uncompletedItemsCounter }}</strong>
    {{ uncompletedItemsCounter === 1 ? "item" : "items" }} left
  </span>
    <ul class="filters">
      <li>
        <a href="#/" [ngClass]="{selected: currentPath === '#/'}" class="selected" (click)="setCurrentPath('#/')">All</a>
      </li>
      <li>
        <a href="#/active" [ngClass]="{selected: currentPath === '#/active'}" (click)="setCurrentPath('#/active')">Active</a>
      </li>
      <li>
        <a href="#/completed" [ngClass]="{selected: currentPath === '#/completed'}" (click)="setCurrentPath('#/completed')">Completed</a>
      </li>
    </ul>
    <button
      *ngIf="uncompletedItemsCounter !== todoList.length" 
      (click)="removeCompleteItems()" 
      class="clear-completed"
    >
      Clear completed
    </button>
  </footer>
</section>

<footer class="info">
  <p>Double-click to edit a todo</p>
  <p>
    Created by <a href="http://twitter.com/oscargodson">Oscar Godson</a>
  </p>
  <p>
    Refactored by
    <a href="https://github.com/cburgmer">Christoph Burgmer</a>
  </p>
  <p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
</footer>